# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars.backup
.terraform.lock.hcl

# Helm
*.tgz
charts/

# Kubernetes
kubeconfig

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Secrets
*.pem
*.key
secrets.yaml
