architecture: standalone

auth:
  enabled: true
  password: ""

master:
  persistence:
    enabled: true
    size: 8Gi
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi

metrics:
  enabled: true
  serviceMonitor:
    enabled: true
