{{- if .Values.configMap }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.service.name }}-config
  labels:
    app: {{ .Values.service.name }}
data:
  {{- toYaml .Values.configMap | nindent 2 }}
{{- end }}
