apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ .Values.service.name }}
  labels:
    app: {{ .Values.service.name }}
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: {{ .Values.service.name }}
